@page "/auctionhouse"

<PageTitle>Auction House</PageTitle>

<h1>Live Auctions</h1>

<p>View of the live auctions on Auctionator</p>


<button type="button">Post new auction</button>



@code {
    
}
