@page "/valuer"


<PageTitle>Valuer</PageTitle>
<h3>Valuer</h3>

<p>Let the site value ur item and post it if you like.</p>


<p>Her skal machine Learning ind. så den kan lave machine learning på diverse ting der bliver tastet ind i programmet.</p>


@code {
    
}
