
<ul class="list-unstyled">
    @foreach  (var item in items)
    {
        <li class="media my-3">
            <div class="media-img-wrapper mr-2">
                <a href="/items/@item.Id">
                   <img class="media-img"src="@item.Name"/> 
                </a>
            </div>
            <div class="meida-body">
                <a href="/item/@item.Id">
                <h4 class="mb-0"> @item.Name</h4>    
                </a>
                <p>@item.Maker</p>
                @if (item.OriginalPrice > item.Price)
                {
                    <h6 class"txt-muted original-price">$@item.OriginalPrice</h6>
                }
                <h5 class="price">$@item.Price</h5>
            </div>
        </li>
    }

</ul>

@code {
    List<Items> items = new List<Items>
 {
     new Items
     {
         Id = 1,
         Name = "sutma",
         Age = 12,
         Price = 500,
         OriginalPrice = 900,
         Maker = "Hans Kristian",
         Brand = "Sitaa",
         CategoryId = 4
     }
 };
}



